{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h1>Create a Product</h1><br/>
    <form class="form form-horizontal" action="{% url 'create_product' %}" method="post">
        {% csrf_token %}
{#        {{ form }}#}
        <div class="mb-3">
            <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Name of product">
        </div>
        <div class="mb-3">
            <textarea name="description" class="form-control" rows="6" cols="100" placeholder="Description"></textarea>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="condition" aria-describedby="emailHelp" placeholder="Describe the condition of the product">
        </div>
        <div class="mb-3">
            <label for="category">Choose a category</label>
            {{ form.category }}
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="image"  placeholder="Product image url">
        </div>
        <div class="mb-3">
            <input type="text" name="seller" class="form-control"  value="{{ request.user.id }}" hidden>
        </div>

        <input type="checkbox" name="on_sale" checked hidden>

        <br/>
        {{ form.errors }}
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>
    </div>
{% endblock %}
