{% extends 'base.html' %}
{% block content %}
    <h1 class="p-5" style="float:left;">All Products</h1>
    <a class="btn btn-primary" style="float:right; margin-top:5.5rem;" href="{% url 'create_product' %}">Create Item</a>
    <div class="container">
        <div class="input-group">
            <input type="search" class="form-control" id="search-box" placeholder="Enter search">
            <div class="input-group-btn">
                <button type="button" id="search-btn" class="btn btn-secondary">Search</button>

            </div>
        </div>
        <div class="col-md-3 mb-4 ms-auto">
            <label for="filter-dropdown" class="form-label">Sort by:</label>
            <select name="filter-dropdown" class="form-select" id="filter-dropdown">
                <option value="">Choose...</option>
                <option value="1">Name</option>
                <option value="2">Price</option>
            </select>
        </div>
        <div class="grid">
            <div class="row products">
                {% for product in products %}
                    {% if product.on_sale %}
                        {% include 'products/single_product.html' with product=product %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
