.profile-image {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}

#logo {
    max-height: 40px;
    max-width: 40px;
    padding-top: 3px;
    padding-bottom: 0px;
    margin-right: 30px;
    vertical-align: middle;
}