{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card" style="width:26rem ">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1>Profile</h1>
                        <input type="text" name="user" value="{{ request.user.id }}" hidden/>
                        <p> {{ form.user.as_hidden}} </p>
                        <h5>Edit Profile Image</h5>
                        <p> {{ form.profile_image }} </p>
                        <h5>Edit Biography</h5>
                        <p>{{ form.profile_bio }}</p>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                </div>
            </div>
        </div>

    </form>
{% endblock %}