{% extends "base.html" %}
{% block content %}
    <form action="/user/edit_profile" method="POST">
        {% csrf_token %}
        <div class="card" style="width:26rem ">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1>Profile</h1>
                        <fieldset disabled="disabled">
                        <h3>Biography</h3>
                        <p> {{ form.user}} </p>
                        <p> {{ form.profil_image.as_hidden}} </p>
                        <p> {{ form.profile_image.as_hidden}} </p>
                        <p>{{ form.profile_bio }}</p>
                        <p>{{ form.avg_rating.as_hidden }}</p>
                        </fieldset>
                        <input type="submit" class="btn btn-primary" value="Edit"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}